<!-- // WEB 425 Angular with TypeScript
// Contributors

// Contributors:
// Richard Krasso
// Thomas James Schultz -->

<div fxLayout="column">
  <mat-card>
    <mat-card-title style="text-align: center;">
      <img style="height: 300px;" src="./assets/homer404.jpg" />
    </mat-card-title>
    <mat-card-content style="text-align: center;">
      <h1>D'OH!</h1>
      <h3>Page not found. Please Click on the return home page!</h3>
    </mat-card-content>
    <br />
    <mat-card-content style="text-align: center;">
      <button mat-raised-button color="accent" routerLink="/">Return home</button>
    </mat-card-content>
  </mat-card>
</div>