<div fxLayout>
  <br />


  <br />
  <div fxFlex>
    <div fxLayout="column">
      <!--Image for Bio-->

      <div class="col-xl-6">
        <br />
        <img src="./assets/orsonScott.jpg" width="75%">
        <figcaption>&copy; IMDB</figcaption>
      </div>
    </div>
  </div>

  <!--Mini Bio-->
  <div fxFlex>
    <br />
    <h3>Orson Scott Card</h3>
    <p>Orson is an American author. Born in 1951. His love for writing began at the age of 10. He wrote a short about
      bullies which eventually led to his best known novel, Ender's Game. Orson is married to Kristine Allen and had
      five children. His best known is Ender's Game. It's about a boy who is has gifted mind and is recruited by the
      military to help fight a war. </p>
  </div>


</div>