<!--WEB 425 Angular with TypeScript
Contact Page
Contributors:
Richard Krasso
Thomas James Schultz
-->

<div class="contact-container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3>Welcome to the Contact Us Page</h3>
        </div>
    </div>
    <br /><br />

    <div class="row">
        <!-- Address -->
        <div class="col-sm-6">
            <div class="row location text-center">
                <div class="col-sm-12">
                    <div class="icon">
                        <h1><i class="bi bi-geo-alt"></i></h1>
                        <br>
                    </div>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item border border-0">123 Fake Street</li>
                            <li class="list-group-item border border-0">Springfield, USA 12345</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!-- Telephone numbers -->
        <div class="col-sm-6">
            <div class="row contact text-center">
                <div class="col-sm-12">
                    <div class="icon">
                        <h1><i class="bi bi-telephone"></i></h1>
                        <br>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item border border-0">Direct:123-123-1234</li>
                        <li class="list-group-item border border-0">Toll-Free: 800-123-1234</li>
                        <li class="list-group-item border border-0">Fax: 888-123-1234</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
