<!--
WEB 425 Angular with TypeScript
Contributors
About Page

Contributors:
Richard Krasso
Thomas James Schultz
-->

<div class="container">
    <br />

    <h3>About</h3>
    <br />

    <div class="row justify-content-start">
        <!--Image for Bio-->
        <div class="col-xl-6">
            <br />
            <img src="/assets/Hans-Zimmer.jpg" width="75%">
            <figcaption>&copy; MusicTech</figcaption>
        </div>

        <!--Mini Bio-->
        <div class="col-xl-6">
            <br />
            <h3>Hans Zimmer</h3>
            <p>Hans Zimmer is a German Film Score composer and music producer. He was born in Frankfurt, Germany on
                September 12, 1957. He began his career early by playing the piano. Not being a fan of traditional
                teachings, he started to learn by himself. He admired Ennio Morricone and wanted to become a film
                composer. He composed some of the biggest movies including; The Lion King, Inception, The Dark Knight,
                Interstellar, and Dune. He also produces and composes sounds for BMW’s electric car line.</p>
        </div>

    </div>
</div>
