<!-- // WEB 425 Angular with TypeScript
// Contributors
// About Page

// Contributors:
// Richard Krasso
// Thomas James Schultz -->

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>123 Fake Street</p>
      <p>Springfield, USA</p>
    </mat-card-content>
  </div>


  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 800-555-5555</p>
      <p>Toll-free: 1-800-591-0467</p>
      <p>Fax: 865-867-5309</p>
    </mat-card-content>
  </div>
</div>

<br><br><br><br>


<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many great locations throughout the Springfield area.
  </p>
</div>